* {
  box-sizing: border-box;
  margin: 0;
}

.opacity_null {
  opacity: 0.1%;
}

.gradient {
  height: 50px;
  width: 100%;
  background: radial-gradient(ellipse farthest-side at top center, rgba(0, 0, 0, 0.08), transparent);
}

.gradient:before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(0, 0, 0, 0.02)), color-stop(rgba(0, 0, 0, 0.02)), to(transparent));
  background: linear-gradient(left, transparent, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02), transparent);
}
